<nav class="navbar navbar-expand-lg bg-darkMode text-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Append</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <div class="col-md-10 search">
          <input type="text" placeholder="Search..." class="form-control" id="search" name="search">
      </div>
     


          <button
          class="btn btn-danger"
          (click)="logout()"> Logout</button>
        </div>
    </div>
  </nav>