<div class="container p-1">
    <h3 class="text-center py-3 ">  {{getallData.title}}</h3>

<div class="d-flex justify-content-center">
    <div class="card shadow p-3 mb-5 bg-body rounded mb-3 w-50">
        <div class="card-body">
            <i class="{{getallData.icon}}"></i>
          <h5 class="card-title">{{getallData.title}}</h5>
          <p class="card-text">{{getallData.description}}</p>
       
            <div class="row">
                <a class="btn btn-danger mt-2"
            (click)="removeItem(getallData.id)">Delete</a>
                <a class="btn btn-info mt-2"
            (click)="backToShowAllData()">Back</a>
            </div>
        </div>
      </div>
</div>
</div>