
  
<div class="container"> 
  <h3 class="text-center py-3 ">Create Blog</h3>
  <form action="\" method="get" #gfgform = "ngForm">
     
    <div class="mb-3 row">
      <label for="postCategory" class="col-md-3 col-form-label">postCategory</label>
      <div class="col-md-9">
        <input name="postCategory" required [(ngModel)]="objBlog.postCategory" type="text" class="form-control" id="postCategory">
      </div>
    </div>
  
    <div class="mb-3 row">
      <label for="postPic" class="col-md-3 col-form-label">postPic</label>
      <div class="col-md-9">
        <input name="postPic" required [(ngModel)]="objBlog.postPic" type="text" class="form-control" id="postPic">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="postTitle" class="col-md-3 col-form-label">post Title</label>
      <div class="col-md-9">
        <input name="postTitle" required [(ngModel)]="objBlog.title" type="text" class="form-control" id="postTitle">
      </div>
    </div>

  
    <div class="mb-3 row">
      <label for="userPic" class="col-md-3 col-form-label">userPic</label>
      <div class="col-md-9">
        <input name="userPic" required [(ngModel)]="objBlog.userPic" type="url" class="form-control" id="userPic">
      </div>
    </div>
  
    <div class="mb-3 row">
      <label for="UserName" class="col-md-3 col-form-label">UserName</label>
      <div class="col-md-9">
        <input name="UserName" required [(ngModel)]="objBlog.UserName" type="url" class="form-control" id="UserName">
      </div>
    </div>
  
    <div class="mb-3 row">
      <label for="date" class="col-md-3 col-form-label">date</label>
      <div class="col-md-9">
        <input name="date" required [ngModel]="objBlog.date | date:'yyyy-MM-dd'" type="date" class="form-control" id="date">
      </div>
    </div>
  </form>
      <input  class="btn btn-primary mb-5" (click)="saveData()" type="button" value="Save">

</div>