<!-- start Nav -->
<div class="container sidebarleft">
  <div class="nav ">

    <a href="{{picUrl}}" target="_blank" class="d-flex align-items-center justify-content-center" title="profile Image" >
      <img
      [src]="picUrl"
      class="rounded-circle" alt="logo">
    </a>

</div>
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <button
      class="nav-link"
      routerLink="create-blog"
      routerLinkActive="active"> create blog</button>
  </li>

  <li class="nav-item">
    <button
      class="nav-link "
      routerLink="show-blog"
      routerLinkActive="active">  Show Blogs</button>
  </li>

 
  <li class="nav-item">
    <button
      class="nav-link "
      routerLink="create-portfolio"
      routerLinkActive="active">  create portfolio</button>
  </li>

  <li class="nav-item">
    <button
      class="nav-link "
      routerLink="show-portfolio"
      routerLinkActive="active">  show portfolio</button>
  </li>

  <li class="nav-item">
    <button
      class="nav-link "
      routerLink="create-service"
      routerLinkActive="active"> create service</button>
  </li>
   
  <li class="nav-item">
    <button
      class="nav-link "
      routerLink="show-service"
      routerLinkActive="active">  show service</button>
  </li>
 
  <li class="nav-item">
  </li>
  <!-- End Nav -->

</ul>
 
</div>